<head>
<style>

body {background-color: red;}

table, th, td {border: 0px solid black; background-color:white;}
th,td {
    padding-top: 0px;
}
</style>
</head>
<br><br><br>
<center>
<table style="width:75%">

  <tr>
    <td><img src="http://i57.tinypic.com/6p51k8.jpg"></td>
    <td>

<form action="/", method='POST'><div>
First name:<br />
<input type="text" name="firstname" value="" />

<br> <br>

Middle Initial:<br />
<input type="text" name="middlei" value="" />
<br /><br />

Last name:<br />
<input type="text" name="lastname" value="" />
<br /><br />

<select>
  <option value="">Busch Student Center</option>
  <option value="">Cook Student Center</option>
  <option value="">College Avenue Student Center</option>
  <option value="">Douglass Student Center</option>
  <option value="">Livingston Student Center</option>
  <option value="">Brower Commons</option>
  <option value="">Busch Dining Hall</option>
  <option value="">Neilson Dining Hall</option>
  <option value="">Livingston Dining Commons</option>
</select>

<br><br>

<input type="Submit" name ="" value="submit" />
</div></form>

    </td> 
  </tr>

</table>
</center>